/ExpressaoAnd.class
/ExpressaoAtomica.class
/ExpressaoBinaria.class
/ExpressaoImplicacao.class
/ExpressaoLogica.class
/ExpressaoNot.class
/ExpressaoOr.class
/ExpressaoUnaria.class
/TestaExpressaoLogica.class
/ExpressaoXor.class
